USE [master]
GO
/****** Object:  Database [PERTAEVENT]    Script Date: 8/13/2026 10:30:31 AM ******/
CREATE DATABASE [PERTAEVENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PERTAEVENT', FILENAME = N'C:\Users\asus\PERTAEVENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PERTAEVENT_log', FILENAME = N'C:\Users\asus\PERTAEVENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PERTAEVENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PERTAEVENT]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[Waktu] [datetime2](7) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Aksi] [nvarchar](200) NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KebutuhanAcara]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KebutuhanAcara](
	[IdKebutuhan] [int] IDENTITY(1,1) NOT NULL,
	[IdAcara] [int] NOT NULL,
	[IdBarang] [int] NOT NULL,
	[Jumlah] [int] NOT NULL,
	[Keterangan] [nvarchar](250) NOT NULL,
	[IsAmbil] [bit] NOT NULL,
	[IsKembali] [bit] NOT NULL,
 CONSTRAINT [PK_KebutuhanAcara] PRIMARY KEY CLUSTERED 
(
	[IdKebutuhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MappingTeknisi]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MappingTeknisi](
	[IdTeknisi] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Spesialisasi] [nvarchar](150) NOT NULL,
	[StatusKetersediaan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MappingTeknisi] PRIMARY KEY CLUSTERED 
(
	[IdTeknisi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterBarang]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterBarang](
	[IdBarang] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[NamaBarang] [nvarchar](100) NOT NULL,
	[Kategori] [nvarchar](50) NOT NULL,
	[Stok] [int] NOT NULL,
	[SisaBarang] [int] NOT NULL,
 CONSTRAINT [PK_MasterBarang] PRIMARY KEY CLUSTERED 
(
	[IdBarang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterLokasi]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterLokasi](
	[IdLokasi] [int] IDENTITY(1,1) NOT NULL,
	[NamaLokasi] [nvarchar](200) NOT NULL,
	[Keterangan] [nvarchar](500) NULL,
 CONSTRAINT [PK_MasterLokasi] PRIMARY KEY CLUSTERED 
(
	[IdLokasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[IdNotification] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Message] [nvarchar](250) NOT NULL,
	[NamaAcara] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[IdNotification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penugasan]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penugasan](
	[IdPenugasan] [int] IDENTITY(1,1) NOT NULL,
	[IdAcara] [int] NOT NULL,
	[IdTeknisi] [int] NOT NULL,
	[IdPenugasTeknisi] [int] NOT NULL,
	[StatusPenugasan] [nvarchar](50) NOT NULL,
	[WaktuKonfirmasi] [datetime2](7) NULL,
	[DokumentasiKegiatanFile] [nvarchar](max) NULL,
	[WaktuUpload] [datetime2](7) NULL,
	[Progress] [int] NOT NULL,
	[CatatanTeknisi] [nvarchar](500) NULL,
 CONSTRAINT [PK_Penugasan] PRIMARY KEY CLUSTERED 
(
	[IdPenugasan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NamaRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportAcara]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportAcara](
	[IdAcara] [int] IDENTITY(1,1) NOT NULL,
	[IdPembuatAcara] [int] NOT NULL,
	[NamaAcara] [nvarchar](200) NOT NULL,
	[Tanggal] [datetime2](7) NOT NULL,
	[JamMulai] [time](7) NOT NULL,
	[JamSelesai] [time](7) NOT NULL,
	[IdLokasi] [int] NOT NULL,
	[StatusAcara] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SupportAcara] PRIMARY KEY CLUSTERED 
(
	[IdAcara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/13/2026 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[IdRole] [int] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[StatusAktif] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260806075245_InitialCreate', N'10.0.10')
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([IdLog], [Waktu], [Username], [Aksi], [Detail]) VALUES (1, CAST(N'2026-08-06T15:05:10.9668690' AS DateTime2), N'admin', N'Edit Acara', N'Memperbarui data kebutuhan IT untuk acara aaaa')
INSERT [dbo].[AuditLogs] ([IdLog], [Waktu], [Username], [Aksi], [Detail]) VALUES (2, CAST(N'2026-08-06T15:05:24.2710915' AS DateTime2), N'admin', N'Edit Acara', N'Memperbarui data kebutuhan IT untuk acara bbbb')
INSERT [dbo].[AuditLogs] ([IdLog], [Waktu], [Username], [Aksi], [Detail]) VALUES (3, CAST(N'2026-08-06T15:11:53.5879336' AS DateTime2), N'pak_joko', N'Upload Dokumen', N'Teknisi mengunggah foto dokumentasi acara ''aaaa''')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[KebutuhanAcara] ON 

INSERT [dbo].[KebutuhanAcara] ([IdKebutuhan], [IdAcara], [IdBarang], [Jumlah], [Keterangan], [IsAmbil], [IsKembali]) VALUES (4, 2, 1, 1, N'Proyektor utama & Layar gantung', 1, 1)
INSERT [dbo].[KebutuhanAcara] ([IdKebutuhan], [IdAcara], [IdBarang], [Jumlah], [Keterangan], [IsAmbil], [IsKembali]) VALUES (9, 4, 1, 1, N'Layar utama', 0, 0)
INSERT [dbo].[KebutuhanAcara] ([IdKebutuhan], [IdAcara], [IdBarang], [Jumlah], [Keterangan], [IsAmbil], [IsKembali]) VALUES (11, 3, 1, 1, N'', 0, 0)
SET IDENTITY_INSERT [dbo].[KebutuhanAcara] OFF
GO
SET IDENTITY_INSERT [dbo].[MappingTeknisi] ON 

INSERT [dbo].[MappingTeknisi] ([IdTeknisi], [IdUser], [Spesialisasi], [StatusKetersediaan]) VALUES (1, 3, N'Sound System & Audio', N'Sibuk')
INSERT [dbo].[MappingTeknisi] ([IdTeknisi], [IdUser], [Spesialisasi], [StatusKetersediaan]) VALUES (2, 4, N'Proyektor & Layar Lebar', N'Sibuk')
INSERT [dbo].[MappingTeknisi] ([IdTeknisi], [IdUser], [Spesialisasi], [StatusKetersediaan]) VALUES (3, 5, N'Multimedia & Kelistrikan', N'Sibuk')
SET IDENTITY_INSERT [dbo].[MappingTeknisi] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterBarang] ON 

INSERT [dbo].[MasterBarang] ([IdBarang], [Code], [NamaBarang], [Kategori], [Stok], [SisaBarang]) VALUES (1, N'PRY-001', N'Proyektor', N'Video', 5, 5)
INSERT [dbo].[MasterBarang] ([IdBarang], [Code], [NamaBarang], [Kategori], [Stok], [SisaBarang]) VALUES (2, N'LAY-001', N'Layar Proyektor', N'Video', 5, 5)
INSERT [dbo].[MasterBarang] ([IdBarang], [Code], [NamaBarang], [Kategori], [Stok], [SisaBarang]) VALUES (3, N'SND-001', N'Sound System', N'Audio', 3, 1)
SET IDENTITY_INSERT [dbo].[MasterBarang] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterLokasi] ON 

INSERT [dbo].[MasterLokasi] ([IdLokasi], [NamaLokasi], [Keterangan]) VALUES (1, N'Gedung amanah Lt. 1', N'Gedung amanah Lantai 1')
INSERT [dbo].[MasterLokasi] ([IdLokasi], [NamaLokasi], [Keterangan]) VALUES (2, N'Gedung amanah Lt. 2', N'Gedung amanah Lantai 2')
INSERT [dbo].[MasterLokasi] ([IdLokasi], [NamaLokasi], [Keterangan]) VALUES (3, N'Gedung kompeten (pintu depan)', N'Gedung kompeten pintu depan')
SET IDENTITY_INSERT [dbo].[MasterLokasi] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([IdNotification], [IdUser], [Message], [NamaAcara], [CreatedAt], [Status]) VALUES (1, 4, N'Perubahan jadwal/kebutuhan untuk Event aaaa.', NULL, CAST(N'2026-08-06T15:05:10.8423228' AS DateTime2), N'Unread')
INSERT [dbo].[Notifications] ([IdNotification], [IdUser], [Message], [NamaAcara], [CreatedAt], [Status]) VALUES (2, 3, N'Perubahan jadwal/kebutuhan untuk Event bbbb.', NULL, CAST(N'2026-08-06T15:05:24.2664600' AS DateTime2), N'Unread')
INSERT [dbo].[Notifications] ([IdNotification], [IdUser], [Message], [NamaAcara], [CreatedAt], [Status]) VALUES (3, 1, N'Progress diperbarui (20%) untuk Event aaaa.', NULL, CAST(N'2026-08-06T15:07:08.2630889' AS DateTime2), N'Unread')
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Penugasan] ON 

INSERT [dbo].[Penugasan] ([IdPenugasan], [IdAcara], [IdTeknisi], [IdPenugasTeknisi], [StatusPenugasan], [WaktuKonfirmasi], [DokumentasiKegiatanFile], [WaktuUpload], [Progress], [CatatanTeknisi]) VALUES (1, 1, 1, 1, N'Berlangsung', CAST(N'2026-08-11T09:55:55.9715290' AS DateTime2), NULL, NULL, 50, NULL)
INSERT [dbo].[Penugasan] ([IdPenugasan], [IdAcara], [IdTeknisi], [IdPenugasTeknisi], [StatusPenugasan], [WaktuKonfirmasi], [DokumentasiKegiatanFile], [WaktuUpload], [Progress], [CatatanTeknisi]) VALUES (3, 3, 1, 1, N'Ditugaskan', NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Penugasan] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRole], [NamaRole]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([IdRole], [NamaRole]) VALUES (2, N'Helpdesk')
INSERT [dbo].[Roles] ([IdRole], [NamaRole]) VALUES (3, N'Teknisi')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportAcara] ON 

INSERT [dbo].[SupportAcara] ([IdAcara], [IdPembuatAcara], [NamaAcara], [Tanggal], [JamMulai], [JamSelesai], [IdLokasi], [StatusAcara]) VALUES (1, 2, N'bbbb', CAST(N'2026-07-25T00:00:00.0000000' AS DateTime2), CAST(N'08:00:00' AS Time), CAST(N'13:00:00' AS Time), 4, N'Ditugaskan')
INSERT [dbo].[SupportAcara] ([IdAcara], [IdPembuatAcara], [NamaAcara], [Tanggal], [JamMulai], [JamSelesai], [IdLokasi], [StatusAcara]) VALUES (2, 2, N'aaaa', CAST(N'2026-08-06T00:00:00.0000000' AS DateTime2), CAST(N'09:00:00' AS Time), CAST(N'12:00:00' AS Time), 3, N'Selesai')
INSERT [dbo].[SupportAcara] ([IdAcara], [IdPembuatAcara], [NamaAcara], [Tanggal], [JamMulai], [JamSelesai], [IdLokasi], [StatusAcara]) VALUES (3, 1, N'cccc', CAST(N'2026-08-08T00:00:00.0000000' AS DateTime2), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 1, N'Ditugaskan')
SET IDENTITY_INSERT [dbo].[SupportAcara] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IdUser], [IdRole], [Username], [Password], [StatusAktif]) VALUES (1, 1, N'admin', N'123', 1)
INSERT [dbo].[Users] ([IdUser], [IdRole], [Username], [Password], [StatusAktif]) VALUES (2, 2, N'helpdesk', N'123', 1)
INSERT [dbo].[Users] ([IdUser], [IdRole], [Username], [Password], [StatusAktif]) VALUES (3, 3, N'pak_joko', N'123', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_KebutuhanAcara_IdAcara]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_KebutuhanAcara_IdAcara] ON [dbo].[KebutuhanAcara]
(
	[IdAcara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KebutuhanAcara_IdBarang]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_KebutuhanAcara_IdBarang] ON [dbo].[KebutuhanAcara]
(
	[IdBarang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MappingTeknisi_IdUser]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_MappingTeknisi_IdUser] ON [dbo].[MappingTeknisi]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_IdUser]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_IdUser] ON [dbo].[Notifications]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Penugasan_IdAcara]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Penugasan_IdAcara] ON [dbo].[Penugasan]
(
	[IdAcara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Penugasan_IdPenugasTeknisi]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Penugasan_IdPenugasTeknisi] ON [dbo].[Penugasan]
(
	[IdPenugasTeknisi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Penugasan_IdTeknisi]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Penugasan_IdTeknisi] ON [dbo].[Penugasan]
(
	[IdTeknisi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupportAcara_IdLokasi]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_SupportAcara_IdLokasi] ON [dbo].[SupportAcara]
(
	[IdLokasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupportAcara_IdPembuatAcara]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_SupportAcara_IdPembuatAcara] ON [dbo].[SupportAcara]
(
	[IdPembuatAcara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IdRole]    Script Date: 8/13/2026 10:30:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_IdRole] ON [dbo].[Users]
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KebutuhanAcara]  WITH CHECK ADD  CONSTRAINT [FK_KebutuhanAcara_MasterBarang_IdBarang] FOREIGN KEY([IdBarang])
REFERENCES [dbo].[MasterBarang] ([IdBarang])
GO
ALTER TABLE [dbo].[KebutuhanAcara] CHECK CONSTRAINT [FK_KebutuhanAcara_MasterBarang_IdBarang]
GO
ALTER TABLE [dbo].[KebutuhanAcara]  WITH CHECK ADD  CONSTRAINT [FK_KebutuhanAcara_SupportAcara_IdAcara] FOREIGN KEY([IdAcara])
REFERENCES [dbo].[SupportAcara] ([IdAcara])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KebutuhanAcara] CHECK CONSTRAINT [FK_KebutuhanAcara_SupportAcara_IdAcara]
GO
ALTER TABLE [dbo].[MappingTeknisi]  WITH CHECK ADD  CONSTRAINT [FK_MappingTeknisi_Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MappingTeknisi] CHECK CONSTRAINT [FK_MappingTeknisi_Users_IdUser]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_IdUser]
GO
ALTER TABLE [dbo].[Penugasan]  WITH CHECK ADD  CONSTRAINT [FK_Penugasan_MappingTeknisi_IdTeknisi] FOREIGN KEY([IdTeknisi])
REFERENCES [dbo].[MappingTeknisi] ([IdTeknisi])
GO
ALTER TABLE [dbo].[Penugasan] CHECK CONSTRAINT [FK_Penugasan_MappingTeknisi_IdTeknisi]
GO
ALTER TABLE [dbo].[Penugasan]  WITH CHECK ADD  CONSTRAINT [FK_Penugasan_SupportAcara_IdAcara] FOREIGN KEY([IdAcara])
REFERENCES [dbo].[SupportAcara] ([IdAcara])
GO
ALTER TABLE [dbo].[Penugasan] CHECK CONSTRAINT [FK_Penugasan_SupportAcara_IdAcara]
GO
ALTER TABLE [dbo].[Penugasan]  WITH CHECK ADD  CONSTRAINT [FK_Penugasan_Users_IdPenugasTeknisi] FOREIGN KEY([IdPenugasTeknisi])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Penugasan] CHECK CONSTRAINT [FK_Penugasan_Users_IdPenugasTeknisi]
GO
ALTER TABLE [dbo].[SupportAcara]  WITH CHECK ADD  CONSTRAINT [FK_SupportAcara_MasterLokasi_IdLokasi] FOREIGN KEY([IdLokasi])
REFERENCES [dbo].[MasterLokasi] ([IdLokasi])
GO
ALTER TABLE [dbo].[SupportAcara] CHECK CONSTRAINT [FK_SupportAcara_MasterLokasi_IdLokasi]
GO
ALTER TABLE [dbo].[SupportAcara]  WITH CHECK ADD  CONSTRAINT [FK_SupportAcara_Users_IdPembuatAcara] FOREIGN KEY([IdPembuatAcara])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[SupportAcara] CHECK CONSTRAINT [FK_SupportAcara_Users_IdPembuatAcara]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_IdRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([IdRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_IdRole]
GO
USE [master]
GO
